<div class="container mt-5">
  <h2 class="text-center py-3 text-white">Minhas Listas de Tarefas</h2>

  <div class="d-flex justify-content-center mb-4">
    <%= link_to 'Criar Nova Lista', new_todo_list_path, class: 'btn btn-primary btn-lg' %>
  </div>

  <% if @todo_lists.any? %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @todo_lists.each do |list| %>
        <div class="col">
          <div class="card shadow-sm bg-light">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center">
                <%= link_to list.name, todo_list_tasks_path(list), class: "text-decoration-none text-dark fw-bold" %>
              </h5>
              <div class="mt-auto">
                <div class="d-flex justify-content-between">
                  <%= link_to edit_todo_list_path(list), class: 'btn btn-sm btn-secondary' do %>
                    <i class="fas fa-edit"></i>
                  <% end %>

                  <%= form_with url: todo_list_path(list), method: :delete, class: "d-inline" do %>
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir esta Lista?');">
                      <i class="fas fa-trash"></i>
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-white">Nenhuma lista criada ainda. Clique em "Criar Nova Lista" para começar!</p>
  <% end %>
</div>
