<div class="container mt-5">

    <h2 class="text-center py-3">Minhas Listas de Tarefas</h2>

    <div class="d-flex justify-content-center mb-3">
        <%= link_to 'Criar Nova Lista', new_todo_list_path, class: 'btn btn-primary' %>
    </div>

    <% if @todo_lists.any? %>
    <ul class="list-group gap-2">
        <% @todo_lists.each do |list| %>
        <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
            <%= link_to list.name, todo_list_path(list), class: "text-decoration-none text-dark" %>
            <div>
                <%= link_to 'Editar', edit_todo_list_path(list), class: 'btn btn-sm btn-secondary me-2' %>
                <%= form_with url: todo_list_path(list), data: { confirm: 'Tem certeza?' }, method: :delete, class: "d-inline" do %>
                <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                <% end %>
            </div>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p class="text-center">Nenhuma lista criada ainda. Clique em "Criar Nova Lista" para começar!</p>
    <% end %>

</div>